header{

    background-color: blanchedalmond;
    padding: 50px 150px;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-h{

font-size: 2.8rem;
font-weight: 800;

}

nav > ul{

display: flex;

}

nav, li{

list-style-type: none;
margin-right: 30px;
font-size: 1.3rem;
font-weight: 700;
}

nav, a{

    text-decoration: none;
    
}

.banner-content{

text-align: center;
font-weight: 800;
margin: 0 auto;

}

.btn{

padding: 20px 25px;
background-color: orange;
border-radius: 7px;
border: none;
color:aliceblue;
margin-bottom: 15px;
font-size:1rem;

}

.banner-title{

    font-weight: 800;
    font-size:3.5rem;
    color:black;

}

.title{

    
    font-weight: 800;
    font-size:3.5rem;
    color:black;

}

.banner-para{

color:gray;


}

.banner img{

width:100%;

}

main{

max-width:1440px;
margin:50px auto;

}

.team-container{
display: flex;
justify-content: center;

}

.div-team{

display: grid;
grid-template-columns: repeat(2,1fr);
gap:1.5rem;

}

.div-team-title{

padding-right: 70px;
padding-left: 70px;
}

.spam-1{

font-size: 2.8rem;
color: var(--dark-03, #727272);
font-weight: 500;
}

.spam-2{

    color: var(--dark-01, #131313);
    font-weight: 700;
    font-size: 2.8rem;

}

.spam-3{
    
color:orange;
font-weight: 800px;
font-size: 2.8rem;

}

.team-p{

color:darkgray;

}


.card-container{

display: flex;
justify-content: space-around;
padding: 20px 20px;
margin-top: 20px;
}
.card-container .card-img{

    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-weight: 700;
    padding:20px 40px;

}


.card-container .card-title{

font-size: 3rem;
font-weight: 800;
color: #131313;
margin-top: 10px;
margin-bottom: 10px;

}


.card-container .card-para{

color: gray;
font-weight: 600;
font-size: 1.2rem;
margin-top: 5px;

}

.sponsers{

text-align: center;

}

.sponser-img{

display: flex;
margin-top: 50px;
align-items: center;
text-align: center;
gap:140px;

}
.sponser-img, img{

    width:165px;
}

.Features{

display: flex;
gap:100px;
margin-top: 130px;

}

.features-text,.card1{

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}


.features,.title{

    border-left: 5px solid orange;
    padding-left: 20px;

}

.ten-year-div{
    border-radius: 8px;
    background: #FF900E;
    color:#FFF;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}

.title-m{

font-size: 4rem;

}

footer{

margin-left: 15px;

}

.div-footer{

text-align: center;
background-color: black;
padding:10px;
width: 1800px;

}



@media screen and (max-width:576px) {

header{

    padding:10px;
}

.banner, img{

    width:100%;
}


nav,
.team-container,
.sponser-img{

flex-direction: column;
}
.div-team{

    grid-template-columns: 1fr;

}

.div-team-title .card-container{

    padding-right: 20px;
    padding-left: 20px;
    }

    .card-container{
        flex-direction: column;
        width:230px;
        margin-left: 40px;
        
    }
.card-container{

gap:20px;

}

.div-footer{

    width:100%;

}

}

@media screen and (min-width:576px) and (max-width:960px){
 
    header{

        padding:40px;
    }
    .card-container{

        gap:20px;
        
        }

nav,
.sponser-img
{

    flex-direction: column;
}


}

